.reservation-container {
  background-color: #f8f9fb;
  border: 1px solid #eef1f6;
  border-radius: 1rem;
  box-shadow: 0px 2px 8px 0px rgba(106, 115, 129, 0.12);
}

.date-buttons > button.btn.btn-outline-primary {
  background-color: #fff;
  color: #2f73da;
  border: 1px solid #cdd3dd;
}

.date-buttons > button.btn.btn-outline-primary:not(:last-child) {
  margin-right: 0.5rem;
}

.date-buttons > button.btn.btn-outline-primary:hover {
  background-color: #2f73da;
  color: #fff;
  border: 1px solid #2f73da;
}
