root {
  --dark-text: #1f2329;
  --light-text: #49505a;
  --red: #ae0a0a;
  --blue-bg: #eaf1fb;
  --light-gray: #f8f9fb;
  --light-gray-outline: #eef1f6;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fbfcfd;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: var(--dark-text);
}

h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--dark-text);
}

h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: var(--dark-text);
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--dark-text);
}

.btn {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 10px 16px;
}

button.btn.btn-primary {
  background-color: #2f73da;
}
