root {
  --dark-text: #1f2329;
  --light-text: #49505a;
  --header-blue: #002966;
  --primary-blue: #2f73da;
  --red: #ae0a0a;
  --blue-bg: #eaf1fb;
  --light-gray: #f8f9fb;
  --light-gray-outline: #eef1f6;
  --bg: #fbfcfd;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.btn {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  padding: 10px 16px;
}
button.btn.btn-light {
  border: 2px solid #fff;
  color: var(--header-blue);
}

button.btn.btn-light:hover {
  background-color: transparent;
  color: #ffffff;
}
